doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 10k Apart Test
    link(rel='stylesheet', type='text/css', href='styles/app.css')
  body
    header
      h1 Tic Tac Toe

    main.game-box

      mixin row(number)
        .game-row

          fieldset
            legend._sr Row #{number} of 3

            each val in [1,2,3]

              .game-card
                fieldset
                  legend._sr(aria-describedby="Row "+val) Column #{val} of 3

                  input(id=number+"-"+ val +"-1", type="radio", name=number+"-"+val, value="X")
                  label(for=number+"-"+ val +"-1")
                    <svg viewbox="0 0 40 40">
                      <path class="shape-x" stroke="black" fill="transparent" stroke-width="5" d="M 10,10 L 30,30 M 30,10 L 10,30" />
                    </svg>

                  input(id=number+"-"+ val +"-2", type="radio", name=number+"-"+val, value="O")
                  label(for=number+"-"+ val +"-2")
                    <svg viewbox="0 0 40 40">
                      <circle class="shape-o" stroke="green" stroke-width="4" fill="none" cx="20" cy="20" r="10"/>
                    </svg>

      +row(1)
      +row(2)
      +row(3)